
.col-xs-1 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 8.3333333333%;
}

.col-xs-offset-1 {
    margin-left: 8.3333333333%;
}

.col-xs-2 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 16.6666666667%;
}

.col-xs-offset-2 {
    margin-left: 16.6666666667%;
}

.col-xs-3 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-4 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 33.3333333333%;
}

.col-xs-offset-4 {
    margin-left: 33.3333333333%;
}

.col-xs-5 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 41.6666666667%;
}

.col-xs-offset-5 {
    margin-left: 41.6666666667%;
}

.col-xs-6 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 50%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-7 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 58.3333333333%;
}

.col-xs-offset-7 {
    margin-left: 58.3333333333%;
}

.col-xs-8 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 66.6666666667%;
}

.col-xs-offset-8 {
    margin-left: 66.6666666667%;
}

.col-xs-9 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 75%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-10 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 83.3333333333%;
}

.col-xs-offset-10 {
    margin-left: 83.3333333333%;
}

.col-xs-11 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 91.6666666667%;
}

.col-xs-offset-11 {
    margin-left: 91.6666666667%;
}

.col-xs-12 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
}

.col-xs-offset-12 {
    margin-left: 100%;
}
