/*Feedback section*/

#feedback-section{
    background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.53)), url(../public/Images/DALLE3.png) no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*unified font-family*/
body{
    font-family: 'Raleway', sans-serif;
    color: var(--white-1);
}

.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap:3rem;
}
.wrapper .left, .right{
    flex:1;
    font-family: 'Open Sans', sans-serif;
}
/* Heading and contact method format*/
.left .contact-heading{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--white-1);
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.left .contact-heading span{
    color: var(--red-5);
}

.left .contact-desc{
    color: var(--white-1);
    margin-bottom: 1rem
}
.left .contact-info{
    margin-bottom: 1rem;
}

.left .contact-info ul{
    list-style: none;
}
.left .contact-info ul li{
    border-radius: 12px;
    overflow:hidden;
}
.left .contact-info ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding: 1rem;
    gap:0.7rem;
}
/*show red background when hover*/
.left .contact-info ul li:hover{
    background: var(--primary-color);
}

.left .contact-info ul li:hover .text{
   color: white;
}

.left .contact-info ul li:hover .icon{
    color: white;
}

.left .contact-info ul a .icon{
    width: 25px;
    color: white;
}

.left .contact-info ul a .text{
    color: var(--white-1);
}

/* form format*/
.right .contact-form{

    background-color: rgba(255,255,255,0.0);
    max-width: 600px;
    margin: 0 auto;
    padding: 3rem;
    color: var(--white-1);

}


.right .form-group{

    width: 100%;
    margin-top:20px;
    font-size: 1rem;
    margin-bottom:1rem
}

.right .form-group label{
    padding-bottom: 0.3rem;
    display:inline-block;
    font-size: 1.2rem;
}

.right .form-group .input-wrapper input{
    color: var(--white-1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
}
/* translucent textarea*/
.right .form-group input, .form-group textarea{
    width:100%;
    font-size: 1.2rem;
    border: 1px solid rgba(128,128,128,0.199);
    color: var(--white-1);
}

/* translucent input*/
.right .form-group .input-wrapper input{
    color: var(--white-1);
    padding: 0.7rem;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.5rem;
    background: var(--transparent);
}

.right .contact-form textarea{
    background: var(--transparent);
    width:100%;
    height: 250px;
    resize: vertical;
    padding: 0.7rem;
    outline: none;
    border-radius: 10px;
}

.right button{
    font-size: 16px;
    font-weight: 500;
    color: var(--yello-1);
    text-decoration: none;
    cursor: pointer;
    background: var(--transparent);
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 9px 25px;
    width: 49%;
}

.right  button:hover{
    background-color: var(--primary-color);
    transition: all 0.4s ease 0s;
}

/*Gender Radio format*/

.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 var(--transparent);
    border: 1px solid var(--primary-color);
    margin-top: 15px;
}

.radio_label{
    padding: 5px 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: var(--white-1);
    background-color: var(--transparent);
    cursor: pointer;
    transition: background 0.1s;
}

.radio_input{
    display: none;
}

.radio_label:not(:last-of-type){
    border-right: 1px solid var(--primary-color);
}
.radio_input:checked + .radio_label{
    background-color: var(--primary-color);
    color: var(--white-1);
}
