<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<footer class="footer" data-color="dark">
    <div class="container">
        <div class="footer_content">
            <div class="top">
                <div class="left">
                    <a class="web_logo_wrap" href="#" data-wpel-link="internal">
                        <div class="web_logo">
                            <img class="svg_inject lazyloaded" decoding="async" style="width: 50px"
                                 src="../public/Images/logo-write.png">
                        </div>
                    </a>
                    <div class="title"><p>Grow Business with Affordable AI</p></div>
                </div>
                <div class="right hidden-sm hidden-xs">
                    <div class="subtitle">Sections</div>
                    <div class="text-wrap white">
                        <a href="#services" data-wpel-link="internal">
                        <div class="wrap">Services</div>
                    </a>
                    </div>
                    <div class="text-wrap white">
                        <div class="wrap"><a class="menu-item unhover" href="#team">
                            About </a></div>
                    </div>
                    <div class="text-wrap white">
                        <div class="wrap"><a class="menu-item unhover" href="#feedback-section">
                            Feedback </a></div>
                    </div>

                </div>
            </div>
            <div class="bottom">
                <div class="left hidden-sm hidden-xs">
                    <div class="text-wrap"><h4 class="address address_top">Based in Canberra Australia.</h4>
                        <div class="address">121 Marcus Clarke St ACT 2601</div>
                    </div>
                </div>

                <div class="right">
                    <div class="subtitle">Assessment</div>
                    <div class="footer_menu" role="navigation">
                        <div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu">
                                <li><a href="../pages/assignment.html"
                                       data-wpel-link="internal">Assignment</a></li>
                                <li><a href="../pages/sourcelog.html"
                                        data-wpel-link="internal">Source Log</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <p class="copyright_text">
                All right reserved. Copyright © Aristoteles Studios 2023
            </p>
        </div>
    </div>
</footer>

</body>
</html>