<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="hero-section.css">
    <link rel="stylesheet" href="../style.css">


</head>
<body>
<section id="hero-section">
    <div class="hero-container">
        <div class="info" data-aos="fade-left">
        <h1 ><div style="color: var(--primary-color)">Grow Business </div> with Affordable AI</h1>
        <h2 > AI integration is not as hard as you think.  </h2>
        <p data-aos="fade-right">We use a diverse range of existing AI tools to easily give your business the power of AI like a plug in. </p>
        </p>
        </div>
    </div>
</section>
</body>
</html>