<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layouts/hero-section.css">
    <link rel="stylesheet" href="../style.css">

</head>
<body>
<section id="hero-section">
    <div class="hero-container">
        <div class="info" data-aos="fade-left">
        <h1 ><div style="color: var(--primary-color)">Grow Business </div> with Affordable AI</h1>
        <h2 > lorem ipsum dolor sit amet.</h2>
        <p data-aos="fade-right">lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Ea dignissimos, id veritatis a iusto conseuuntur
        </p>
        </div>
    </div>
</section>
</body>
</html>