<!--ref: https://www.youtube.com/watch?v=9XnLMp09_BE-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layouts/navbar.css">
    <link rel="stylesheet" href="../style.css">

    <title>Navigation Bar</title>
</head>
<body>
<div class="header sticky" id ='navbar' >
    <div class="logo">
        <a href="../pages/index.html">
            <img src="../public/Images/logo-write.png" alt="logo">
            Aristoteles
        </a>

    </div>
    <nav>
        <ul>
<!--  ignore the error message, after imported, the anchor will work normally-->
            <li class="hero-section"><a href="#hero-section">Home</a></li>
            <li class="services"><a href="#services" >Services</a></li>
            <li class="team"><a href="#team" >About</a></li>
            <li  class="feedback-section"><a href="#feedback-section">Contact</a></li>
        </ul>

    </nav>
        <button><a href="#">Get Started</a></button>

</div>
<script src="../layouts/navbar.js"></script>

</body>
</html>