<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layouts/team.css">
    <link rel="stylesheet" href="../style.css">

</head>
<body>
<section id="team"  data-aos="fade-down">
    <div class="container">
        <div class="team_wrapper ">
            <div class="team_img">
<!--                <img src="../public/Images/team.jpg" alt="team">-->
            </div>
            <div class="team_info float-left">
                <h3 class="team_title">
                    About <span>Us</span>
                </h3>
                <p class="team_subtitle">
                    It's all started since 2019
                </p>
                <p class="team_text">
                    After move from traditional software development to artificial intelligence in the industrial world.
                    Only a few months, I was amazed by the products I was making before my eyes, and see the great potential that I had never seen and imagined before.
                    At 2021, I chose to go back to university to further my studies.Now I am confidence to be able to bring AI into industrial results and open a new chapter for the future!
</p>
            </div>
        </div>
    </div>


    <div class="container  ">
        <div class="our_goals_wrapper ">
            <div class="our_goals_info float-right">
                <h3 class="our_goals_title">
                    We provide highly customized and automated
                    AI Industry Solutions
                </h3>
                <p class="our_goals_subtitle">
                    Orchard pest detection and Residual product inspection, these highly customizable scenarios can't use generic AI models.
                    We are focusing on Industrial application scenarios.
                </p>

            </div>
            <div class="our_goals_imgs_wrapper float-left ">
                <div class="our_goals_img1">
                    <img src="../public/Images/team.jpg" alt="goals">
                </div>
                <div class="our_goals_img2">
                    <img src="../public/Images/team.jpg" alt="goals">
                </div>
                <div class="our_goals_img3">
                    <img src="../public/Images/team.jpg" alt="goals">
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>